
body {
    /* == appearence ===================== */
    font-family: arial,sans-serif;
    color: #222;
    font-size: 13px;

    /* == layout ========================= */

    div.header {
        
        div.upper-right{
            /* == appearence ===================== */
            background: #fff;

            /* == layout ========================= */
            height: 30px;
            float: right;

            a {
                /* == appearence ===================== */
                font-family: arial,sans-serif;
                color: #222;
                font-size: 13px;   

                /* == layout ========================= */
            }
            
            a.right_a {
                /* == appearence ===================== */

                /* == layout ========================= */
                padding-left: 14px;
            }
        }
    }

    div.advanced_search_bar {
        /* == appearence ===================== */
        color: #d93025;
        font-size: 20px;

        /* == layout ========================= */
        display: inline-block;
        margin: 25px 35px;
    }

    div.underline {
        border-bottom: 1px solid #ebebeb;
    }
    
    div.center {
        /* == appearence ===================== */
        
        /* == layout ========================= */
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* ??? */
    }

    div.center_vertical {
        /* == appearence ===================== */
        
        /* == layout ========================= */
        margin: 0;
        position: absolute;
        top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%); /* ??? */
    }

    div.search_wrapper > form {
        /* == appearence ===================== */
        
        /* == layout ========================= */
        // width: 100%;
        min-width: 584px;
        max-width: 584px;
        width: 96%;
        margin: 40px 2% 0 45px;

        div.search_text_div_wrapper {
            /* == appearence ===================== */
            border: 1px solid #dfe1e5;
            border-radius: 24px;

            /* == layout ========================= */
            display: flex;
            height: 44px;
            margin: 0 auto;
            width: 80%;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 5px;

            input.search_text_input {
                /* == appearence ===================== */
                border: none;
                color: rgba(0,0,0,.87);
                font-size: 16px;
                outline: none;

                /* == layout ========================= */
                flex: 100%;
                height: 38px;
            }
            
        }
        
        div > center > input.search_button {
            /* == appearence ===================== */
            background-color: #f2f2f2;
            border: 1px solid #f2f2f2;
            border-radius: 4px;
            color: #5F6368;
            font-family: arial,sans-serif;
            font-size: 14px;
            text-align: center;
            cursor: pointer;
            user-select: none;

            /* == layout ========================= */
            margin: 11px 4px;
            padding: 0 16px;
            height: 36px;
            min-width: 54px;
        }

    }   

    div.search_wrapper > form.advanced_search {
        
        div.advanced_search_line {
            /* == appearence ===================== */
            
            /* == layout ========================= */
            margin-bottom: 1em;
    
            div.advanced_search_label_div {
                /* == appearence ===================== */
            
                /* == layout ========================= */
                display: inline-block;
                width: 35%;

                label.advanced_search_top_label {
                    font-size: 16px;
                }
            }

            div.advanced_search_input_div {
                /* == appearence ===================== */
            
                /* == layout ========================= */
                display: inline-block;
                width: 60%;
                height: 25px;
                padding: 1px 8px;
    
                input.advanced_search_box {
                    /* == appearence ===================== */
                    border-radius: 1px;
                    border: 1px solid #d9d9d9;
                    border-top: 1px solid #c0c0c0;
                    font-size: 13px;
                    outline: none;
                    
                    /* == layout ========================= */
                    width: 100%;
                    height: 25px;
                    padding: 1px 8px;
                }
            }

            input.advanced_search_button {
                /* == appearence ===================== */
                line-height: 100%;
                padding: 0 12px;
                background-color: #4d90fe;
                border: 1px solid #3079ed;
                color: #fff;
                border-radius: 2px;
                cursor: pointer;
                font-size: 11px;
                font-weight: bold;
                text-align: center;
                
                /* == layout ========================= */
                display: block;
                margin-left: auto;
                margin-right: 0;
                height: 30px;
                min-width: 120px;
            }
        }
    }
}
